<ul class="nav navbar-nav">
  <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a> |
    <a href="/about">About</a> |
    <a href="/contact">Contact</a> |
    <a href="/file-upload">File Upload</a> |
</ul>
<h1>ASDF</h1>
