<form id="upload-form" enctype="multipart/form-data" method="post" action="/file-intake">
  <input id="fileupload" name="myfile" type="file" />
  <input type="submit" value="submit" id="submit" />
</form>
